.dietimage {
    background-image: url('./pics/vegs.png');
    width: 760px;
    height: 500px;
    background-position: 50% 50%;
    background-size: 100%;
    opacity: 0.8;
}

.nutriimage {
    background-image: url('./pics/nutri.jpg');
    width: 760px;
    height: 500px;
    position: flex;
    background-position: 50% 50%;
    background-size: 100%;
    opacity: 0.8;
    margin-left: 665px;
}

.dietimageY {
    background-image: url('./pics/vegs.png');
    width: 760px;
    height: 500px;
    background-position: 50% 50%;
    background-size: 100%;
    opacity: 0.8;
}

.nutriimageY {
    background-image: url('./pics/nutri.jpg');
    width: 760px;
    height: 500px;
    position: flex;
    background-position: 50% 50%;
    background-size: 100%;
    opacity: 0.8;
    margin-left: 665px;
}

.dietimageS {
    background-image: url('./pics/vegs.png');
    width: 760px;
    height: 500px;
    background-position: 50% 50%;
    background-size: 100%;
    opacity: 0.8;
}

.nutriimageS {
    background-image: url('./pics/nutri.jpg');
    width: 760px;
    height: 500px;
    position: flex;
    background-position: 50% 50%;
    background-size: 100%;
    opacity: 0.8;
    margin-left: 665px;
}

.route-button {
    padding: 10px 20px;
    background-color: #ff1100;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .route-button:hover {
    background-color: #b30000;
  }
  
  .my-button {
    margin: 10px;
  }

  .hall-title {
    position: absolute;
    top: 10px;
    left: 45%;
    font-size: calc(4px + 2vmin);
    font-weight: 300;
    font-family: 'Merriweather', serif;
    color: white;
  }