.dietimage {
    background-image: url('./pics/vegs.png');
    width: 50%;
    height: 920%;
    position: flex;
    background-position: 50% 50%;
    background-size: 100%;
    opacity: 0.8;
}

.route-button {
    padding: 10px 20px;
    background-color: #ff1100;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .route-button:hover {
    background-color: #b30000;
  }
  
  .my-button {
    margin: 10px;
  }