.image-navigation {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.nav-item {
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.image1 {
    background-image: url('./assets/251_north.png');
    background-position: 20% 80%;
}

.image2 {
    background-image: url('./assets/ya.png');
}

.image3 {
    background-image: url('./assets/south_dining.png');
}

.nav-item:hover {
    opacity: 0.8;
}